@model IEnumerable<EducationSystem.Models.Entities.StudentFee>
@{
    ViewBag.ModalName = "";
    var isModel = false;
    if (Model != null)
    {
        isModel = true;
    }
}
<input type="hidden" value="@ViewBag.class_id" id="class-id-hidden" />
<input type="hidden" value="@ViewBag.exam_id" id="exam-id-hidden" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Update Student Fee
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" id="exam_id">
                            <option value="">Select Class</option>
                            @foreach (var cls in ViewBag.exams)
                            {
                                <option value="@cls.exam_id">@cls.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="class_id">
                            <option value="">Select Class</option>
                            @foreach (var cls in ViewBag.classes)
                            {
                                <option value="@cls.class_id">@cls.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn" id="manage-exam-marks-btn"> Manage Students Fee</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update Students Fee</h3>
            </div>
            <div class="panel-body">
                <div class="row">


                    <table id="example-1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                             </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var stdFee in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m=>stdFee.student_name)</td>
                                    <td>@Html.DisplayFor(m => stdFee.total_fee)</td>
                                    <td>@Html.DisplayFor(m => stdFee.paid_fee)</td>
                                    <td>@Html.DisplayFor(m => stdFee.status)</td>
                                    <td>@Html.DisplayFor(m => stdFee.updated_date)</td>
                                    <td>
                                        <select class="form-control student-fee-action-type" id="@Html.DisplayFor(m=>stdFee.fee_id)">
                                            <option value="">Action</option>
                                            <option value="edit">Edit</option>
                                            <option value="view">View</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var subjects = @Html.Raw(@ViewBag.subjects)
    var iModel = '@isModel'
    var class_id = $("#class-id-hidden").val();
    jQuery(document).ready(function () {
        
        $("#exam_id").val($("#exam-id-hidden").val());
        $("#class_id").val(class_id);

        $(".subject-update-btn").click(function () {
            var parent = $(this).closest(".subject-exam-detail");
            var exam_id =$("#exam_id").val();
            var data = {
                exam_id:$(parent).find("#subject-marks-id-hidden").val(),
                marks : $(parent).find("#subject-marks").val(),
                marks : $(parent).find("#subject-marks").val()
            };
            $.ajax({
                url: "/Exam/UpdateStudentMark",
                method: 'POST',
                dataType: 'json',
                data: data,
                success: function (response) {
                    if (response) {
                        alert("Done dna done");
                    }
                }
            });

        });
        $(".student-fee-action-type").change(function () {
            var action = $(this).val();
            var id = $(this).attr("id");
            if (action === "edit") {
                window.location.href = "/Student/Update/" + id;
            }
            else if(action === "view"){
                window.location.href = "/Student/View/" + id;
            }
            else if (action === "delete") {
                //pending
            }
        });
	    
        $("#example-1").dataTable({
            aLengthMenu: [
                [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
            ]
        });
        $("#manage-exam-marks-btn").click(function () {
            var class_id = $("#class_id").val() || 0;
            var subject_id = $("#subject_id").val() || 0;
            var exam_id = $("#exam_id").val() || 0;
            window.location.href = "/Exam/StudentMarks?exam_id="+exam_id+"&class_id=" + class_id + "&subject_id=" + subject_id;

        });
    });
</script>