@model IEnumerable<EducationSystem.Models.Entities.StudentFee>

<div class="page-title">
    <div class="title-env">
        <h1 class="title">Fee Detail</h1>
        <p class="description">Kid Fee detail</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kids School fee Detail
            </div>

            <div class="panel-body">
                @using (@Html.BeginForm("kid", "fee", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" name="kid_id" id="kid_id">
                                <option value="">Select Kid</option>
                                @foreach (var kid in ViewBag.kids)
                                {
                                    <option value="@kid.user_id">@kid.full_name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn" value="View Student Fee">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (ViewBag.isSelected != null && ViewBag.isSelected == true)
{
    var student = (EducationSystem.Models.Entities.Student)ViewBag.student;

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@student.full_name</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div>class : @student.class_name</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Month</th>
                                        <th>fee</th>
                                        <th>Paid</th>
                                        <th>Paid Date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null && Model.Count() != 0)
                                    {
                                        var count = 0;
                                        var statusValue = "";
                                        foreach (var fee in Model)
                                        {

                                            var status_temp = false;
                                            if (fee.paid_status == EducationSystem.Models.FeePaidStatus.PAID)
                                            {
                                                status_temp = true;
                                            }
                                            <tr class="fee-detail-tr">
                                                <td>@(count + 1)</td>
                                                <td>@fee.month</td>
                                                <td>@fee.fee</td>

                                                @if (status_temp)
                                                {
                                                    <td><span class="add-on"><i class="glyphicon glyphicon-ok"></i></span></td>
                                                }
                                                else
                                                {
                                                    <td><span class="add-on"><i class="glyphicon glyphicon-remove"></i></span></td>
                                                }

                                                <td>
                                                    @fee.paid_date
                                                </td>
                                            </tr>
                                                count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            @if (ViewBag.add_fee != null)
                            {
                                var count = 0;

                                foreach (EducationSystem.Models.Entities.StudentFee sf in ViewBag.add_fee)
                                {
                                    var fee_name = "";
                                    var fee_amount = 0;
                                    var status = false;
                                    fee_amount = sf.fee;

                                    count++;

                                    if (sf.paid_status == EducationSystem.Models.FeePaidStatus.PAID)
                                    {
                                        status = true;
                                    }

                                    if (sf.type == EducationSystem.Models.FeeType.ADMISSION_FEE)
                                    {
                                        fee_name = "Admission Fee";
                                    }
                                    else if (sf.type == EducationSystem.Models.FeeType.EXAMINATION_FEE)
                                    {
                                        fee_name = "Examination Fee";
                                    }
                                    else if (sf.type == EducationSystem.Models.FeeType.OTHER_CHARGES)
                                    {
                                        fee_name = "Other Charges";
                                    }

                                    <div>
                                        @fee_name ---- @sf.fee

                                    </div>
                                }

                            }
                        </div>
                        <div class="col-sm-12">
                            <div>Discount Amount =  @ViewBag.discount</div>
                            <div>Total Amount =  @ViewBag.total</div>
                        </div>
                        }
                    </div>
                    <div class="vspacer v3"></div>
                </div>
            </div>
        </div>
    </div>
}
