@model EducationSystem.Models.Entities.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("ChangePassword", "Setting", FormMethod.Post, new { @class = "form-horizontal" }))
                { 
                
                <div class="col-sm-8 col-sm-offset-4" style="color:red" >
                            @Html.ValidationMessage("message")
                           
                </div>
                    
                @*<form id="student_admission_form" role="form" class="form-horizontal validate">*@
                    <div class="form-group">
                        @Html.LabelFor(p => p.currentPassword, new { @class = "col-sm-4 control-label" })
                       
                        <div class="col-sm-5 " >
                            @Html.PasswordFor(p => p.currentPassword, new { @class = "form-control" })
                           @* <input type="text" class="form-control" name="student_fname" id="student_fname" placeholder="First name">*@
                        </div>
                        <br/>
                        <div class="col-sm-8 col-sm-offset-4" style="color:red">
                            @Html.ValidationMessageFor(p => p.currentPassword)

                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    
                     <div class="form-group">
                        @Html.LabelFor(p =>p.newPassword, new { @class = "col-sm-4 control-label" })
                       
                        <div class="col-sm-5 " >
                            @Html.PasswordFor(p => p.newPassword, new { @class = "form-control" })
                           @* <input type="text" class="form-control" name="student_fname" id="student_fname" placeholder="First name">*@
                        </div>
                        <br/>
                         <div class="col-sm-8 col-sm-offset-4" style="color:red">
                             @Html.ValidationMessageFor(p => p.newPassword)

                         </div>
                    </div>
                    <div class="form-group-separator"></div>
                    
                    
                     <div class="form-group">
                        @Html.LabelFor(p =>p.confirmPassword, new { @class = "col-sm-4 control-label" })
                       
                        <div class="col-sm-5 " >
                            @Html.PasswordFor(p => p.confirmPassword, new { @class = "form-control" })
                           @* <input type="text" class="form-control" name="student_fname" id="student_fname" placeholder="First name">*@
                        </div>
                        <br/>
                         <div class="col-sm-8 col-sm-offset-4" style="color:red">
                             @Html.ValidationMessageFor(p => p.confirmPassword)

                         </div>
                    </div>
                    <div class="form-group-separator"></div>
                    
                    
                    <div class="col-sm-8 col-sm-offset-4" >
                    <input type="submit" class="btn btn-success btn-icon" id="submit-form" value="Submit" />
                    </div>

               
                }
            </div>
        </div>
    </div>
</div>

