@model EducationSystem.Models.Entities.StudentAttendance
@{
    ViewBag.ModalName = "viewStudent";
    var isModel = false;
    if (Model != null)
    {
        isModel = true;
    }
}
<input type="hidden" value="@ViewBag.class_id" id="class-id-hidden" />
<input type="hidden" value="@ViewBag.date" id="date-hidden" />
<input type="hidden" value="@ViewBag.student_id" id="student-id-hidden" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Marks for subject
            </div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("ViewStudent", "Attendance", FormMethod.Get, new { id = "view-student-atnd" }))
                    {
                        <div class="col-md-3">
                        <select class="form-control" id="class_id" name="class_id">
                            <option value="">Select Class</option>
                            @foreach (var cls in ViewBag.classes)
                            {
                                <option value="@cls.class_id">@cls.name</option>
                            }
                        </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="student_id" name="student_id">
                                <option value="">Select Student</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="Attendance Month" class="form-control datepickerMonth" id="attend_date" name="date" data-start-view="2">
                        </div>
                        <div class="col-md-2">
                            <input class="btn" type="submit" value="View Attendance" />
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="atttendance-table-div col-md-12">

                        <table id="example-1" class="table  table-bordered">
                            <thead>
                                <tr>
                                    <th >Date</th>
                                    <th >Day</th>
                                    <th >Status</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var atnd in Model.AttendanceDays)
                                {
                                    <tr class="student-attendance">
                                        <td class="name">@atnd.date</td>
                                        <td class="name">@atnd.dayName</td>
                                        @if (atnd.status == EducationSystem.Models.AttendanceStatus.NONE)
                                        {
                                            <td class="day"><i class="glyphicon glyphicon-minus"></i></td>
                                        }
                                        else if (atnd.status == EducationSystem.Models.AttendanceStatus.PRESENT)
                                        {
                                            <td class="day"><i class="glyphicon glyphicon-ok"></i></td>
                                        }
                                        else if (atnd.status == EducationSystem.Models.AttendanceStatus.ABSENT)
                                        {
                                            <td class="day"><i class="glyphicon glyphicon-remove"></i></td>
                                        }
                                        <input type="hidden" value="@atnd.date" id="student-attendance-date" />
                                        <td class="day"><a href="javascript:;" class="edit-student-attendance  glyphicon glyphicon-pencil"></a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
<script type="text/javascript">

    var iModel = '@isModel'
    var class_id = $("#class-id-hidden").val();
    var students = @Html.Raw(@ViewBag.students)

    jQuery(document).ready(function () {
        
        $("#class_id").change(function () {
            var cid = $(this).val();
            $("#student_id").html('<option value="">Select Student</option>');

            $.each(students, function (index, std) {
                if (std.cid == cid)
                {
                    $("#student_id").append('<option value="'+std.id+'">' + std.fullname + '</option>');
                }
            });
        });
    });
</script>
}
